.app{
  background-color: #bdb7b7;
  height: 100vh;
  width: 100vw;
}
 .container{
  display: flex;
  padding-top: 20vh;
  width: 40%;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  margin:auto;
  
  
 }
 